<div class="container header">
  <ul class="navbar">
    <li class="nav-item"> <%= link_to "About me", root_path %></li>
    <li class="nav-item"> <%= link_to "Blog", entries_path %></li>
    <li class="nav-item"> <%= link_to "Rss",  entries_path + '.rss' %></li>
  </ul>
</div>
